<%@ tag language="java" pageEncoding="ISO-8859-1"%>


<div style="width:720px;height:540px;">

<?prettify?>
<pre class="prettyprint">
public class ClienteFixo {

	private Double valorCompra;
...
	public Double calcularDesconto(Double compra, Double valorDesconto){
		return compra - valorDesconto;
	}
}

</pre>

<script src="prettify/prettify_run.js"></script>