<%@ tag language="java" pageEncoding="ISO-8859-1"%>


<div style="width:720px;height:540px;">

<?prettify?>
<pre class="prettyprint">

	public void validarEntrada(Carro carro){
		if (carrosEstacionados.size() &lt; numeroVagas){
			carrosEstacionados.add(carro);
			vagasOcupadas ++;
		} else {
			carrosEspera.add(carro);
			filaEspera++;
		}
	}


</pre>

<script src="prettify/prettify_run.js"></script>