<%@ tag language="java" pageEncoding="ISO-8859-1"%>


<div style="width:720px;height:540px;">

<?prettify?>
<pre class="prettyprint">
public class AcessoBD {

	private Usuario usuario;
	
	public boolean realizarLogin(String login,String senha){
		if (usuario != null){
			return usuario.logar(login,senha);
		}
		return true;
	}
}
</pre>

<script src="prettify/prettify_run.js"></script>